{% extends "inicio/encabezado.html" %}
{% load static %}
{% block titulo %}Comentarios{% endblock %}
{% block imagen_modulo %}
<img src="" alt="Comentarios">
{% endblock %}
{% block texto_modulo %}
Comentarios <span></span>
{% endblock %}
{% block encabezado_pagina %} Comentarios {% endblock %}
{% block contenido %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Mensaje</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in comentarios %}
            <tr>
                <td>{{ c.usuario }}</td>
                <td>{{ c.mensaje }}</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}