{% extends 'inicio/encabezado.html' %}
{% load static %}

{% block titulo %} Alumnos - DSM {% endblock %}

{% block imagen_modulo %}
<img src="{% static 'inicio/images/home.png' %}" alt="Home">
{% endblock %}

{% block texto_modulo %}
Alumnos <span>DSM</span>
{% endblock %}

{% block encabezado_pagina %} Alumnos {% endblock %}

{% block contenido %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">DSM</h6>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Matrícula</th>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th>Turno</th>
                    </tr>
                </thead>
                <tbody>
                  {% for alumno in alumnos %}
                    <tr>
                        <td class="text-center">
                            <img src="{{alumno.imagen.url}}" alt="" class="img-media">
                        </td>
                        <td class="text-semibold">{{alumno.matricula}}</td>
                        <td class="muted">{{alumno.nombre}}</td>
                        <td class="muted">{{alumno.carrera}}</td>
                        <td class="muted">{{alumno.turno}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}